@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$blue: #5fa9d9;
$gray: rgba(0,0,0,.6);
$shadow: 10px 10px 8px -10px rgba(0,0,0,0.4);

* {
    outline: none !important;
}

body {
  margin: 0px;
  font-family: 'quicksand' !important;

  a#login-sign-in-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: black;
  }
}

.hidden {
  display: none;
}

.home-page {
  height: 100vh;
  width: 100vw;
  background: url('/pattern.svg') center center;
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-in {
    position: absolute;
    right: 240px;
    top: 40px;
  }

  .main-logo {
    font-size: 90px;
    color: white;
  }
}

.language-select {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .language-form {
    width: 100vw;
    max-height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-instructions {
      color: rgba(0,0,0,.2);
    }

    input {
      font-family: 'quicksand';
      width: calc(50vw - 20px);
      height: 40px;
      border: 0px;
      border-bottom: 1px solid rgba(0,0,0,.3);
      font-size: 30px;
      padding: 10px;
      text-align: center;
      transition: all .3s;

      &:focus {
        outline: 0px none;
        border-bottom: 1px solid #5fa9d9;
        transition: all .3s;
      }
    }

    .submit-button {
      font-family: 'quicksand';
      font-size: 20px;
      cursor: pointer;
      height: 50px;
      width: 50vw;
      margin-top: 30px;
      border-radius: 4px;
      border: 1px solid $blue;
      background-color: transparent;
      color: $blue;
      transition: all .3s;

      &:hover {
        background-color: $blue;
        color: white;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.navigation-list {
  font-size: 250%;
  margin-left: 20px;
  margin-top: 20px;
}

.navigation-module {
  display: inline-block;
}

.navigation-module.left {
  float: left;
  margin-left: 20px;
}

.sign-out {
  flex: 1;
  height: 40px;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
  background-color: $blue;
  color: white;

  #login-name-link {
    text-decoration: none;
  }
}

.user-profile {
  height: 100%;
  flex: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;

  .profile-input-wrapper {
    flex: 1;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-height: 100px;

    i {
      margin-left: 5px;
      font-size: 12px
    }

    .title {
      flex: 1;
      display: block;
      width: 100%;
      margin-left: 20px;
      font-size: 12px;
      max-height: 20px;
      color: $blue;
    }

    .profile-input {
      cursor: text; 
      width: calc(100% - 20px);
      padding: 10px;
      flex: 1;
      max-height: 30px;
      border: 0px;
      border-bottom: 1px solid rgba(0,0,0,.1);
      outline: none;
      font-size: 18px;
      line-height: 30px;
      transition: all .3s;
      overflow: auto;

      &:hover {
        border-bottom: 1px solid $blue;
      }
    }

    .editing {
      cursor: text; 
      font-family: 'quicksand';
      padding: 10px;
      flex: 1;
      max-height: 30px;
      font-size: 18px;
      width: calc(100% - 20px);
      border: 0px;
      border-bottom: 1px solid $blue;
      outline: none;
      line-height: 30px;
    }
  }
}

.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.1);
  display: flex;
  flex-direction: row;

  .left {
    flex: 6;

    .topLeft {
      height: 74vh;
      display: flex;

      .video-box {
        width: 65vw;
        background-color: white;
        margin: 10px 5px 5px 10px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        box-shadow: $shadow;

        .hidden {
          height: 0px;
          width: 0px;
          opacity: 0;
        }

        .welcome {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: absolute;
          z-index: 100; 
          background: url('/pattern.svg') center center;
          border-radius: 4px;

          .welcome-title {
            color: white;
            font-size: 40px;
            margin-bottom: 20px;
          }

          .welcome-prompt {
            color: white;
          }

          .welcome-matches {
            font-size: 18px;
            color: white;
            font-weight: 700;
            margin-bottom: 20px;
          }
        }

        .waiting {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $blue;
          position: ablsolute;
          z-index: 0;
          border-radius: 4px;

          .loader {
            animation: animate 1.5s linear infinite;
            clip: rect(0, 80px, 80px, 40px); 
            height: 80px;
            width: 80px;
            position: absolute;
          }

          @keyframes animate {
            0% { 
              transform: rotate(0deg)
            }
            100% { 
              transform: rotate(220deg)
            }
          }

          .loader:after {
            animation: animate2 1.5s ease-in-out infinite;
            clip: rect(0, 80px, 80px, 40px);
            content:'';
            border-radius: 50%; 
            height: 80px;
            width: 80px;
            position: absolute; 
          } 

          @keyframes animate2 {
            0% {
              box-shadow: inset #fff 0 0 0 17px;
              transform: rotate(-140deg);
            }
            50% {
              box-shadow: inset #fff 0 0 0 2px;
            }
            100% {
              box-shadow: inset #fff 0 0 0 17px;
              transform: rotate(140deg);
            }
          }
        }

        .review {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          span, h2 {
            color: $gray;
          }

          .stars {
            text-align: center;
            cursor: pointer;

            i {
              margin-right: 2px;
              nargin-left: 2px;
            }
          }

          .review-submit {
            cursor: pointer;
            font-family: 'quicksand';
            font-size: 14px;
            border: 1px solid $blue;
            background-color: transparent;
            color: $blue;
            border-radius: 4px;
            height: 30px;
            width: 130px;
            transition: all .3s;

            &:hover {
              color: white;
              background-color: $blue;
            }
          }
        }

        .video-wrapper {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          overflow: hidden;

          #myVideo {
            position: absolute;
            top: -25px;
            right: 0px;
            z-index: 100;
            height: 200px;
            width: 200px;
          }

          #theirVideo {
            z-index: 0;
            width: 100%;
          }
        }
      }
    }

    .bottomLeft {
      height: 24vh;
      width: 65vw;
      margin: 5px 5px 10px 10px;
      box-shadow: $shadow;
      border-radius: 4px;
      background-color: white;
      overflow: hidden;

      .waiting-for-match {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: $blue;  
      }
    }
  }

  .right {
    flex: 3;

    .topRight {
      flex: 8;
      height: 85vh;
      margin: 10px 10px 5px 5px;
      border-radius: 4px;
      box-shadow: $shadow;
      background-color: white;

      .sign-out {
        height: 40px;
        text-align: right;
        padding-right: 20px;
        padding-top: 20px;
        background-color: $blue;
        color: white;

        #login-name-link {
          text-decoration: none;
        }
      }

      .notes-container {
        margin: 10px;
        height: 88%;

        .saved-notes {
          padding: 10px;
          border: 1px solid #eee;
          height: 75%;
          overflow-y: auto;

          table {
            width: 100%;
            table-layout: fixed;
            padding: 0;

            th {
              padding-bottom: 10px;
            }

            td {
              padding-left: 10px;
              padding-bottom: 5px;
              text-indent: -10px;
            }

            th:first-child, td:first-child {
              border-right: 1px solid #eee;
              padding-right: 5px;
            }

            td:nth-child(2) {
              padding-left: 20px;
            }
          }
        }

        .notes {
          height: inherit;

          textarea {
            width: 98%;
            height: 15%;
          }

          form {
            margin-top: 20px;
            flex: 1;
          }

          label {
            padding: 10px;
          }

          .inputs {
            flex: 1;
            display: flex;
            flex-direction: row;
          }

          input {
            flex: 1;
            display: flex;
            margin: 5px;
            padding: 5px;
            width: 40%;
            border: 1px solid #eee;
            font-size: 14px;
          }
        }

        .new-note {
          width: 90%;
          height: 20%;
          margin-top: 10px;
          border-color: #eee;
          font-size: 14px;
        }

        /*.saved-notes-title {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 10px;
        }*/

        .note {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #eee;
        }
        
      }

      
    }

    .bottomRight {
      flex: 1;
      height: 11vh;
      margin: 5px 10px 10px 5px;
      box-shadow: $shadow;
      border-radius: 4px;
      background-color: white;
      display: flex;
      flex-direction: column;

      .selected-language {
        color: $blue;
        text-align: center;
        padding: 10px;
        font-size: 20px;
      }

      .language {
        background-color: $blue;
        color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
      }

      .waiting-button-wrapper {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          font-weight: 700;
          cursor: pointer;
          font-family: 'quicksand';
          color: $blue;
          border-radius: 4px;
          width: 80%;
          height: 50px;
          background: transparent;
          border: 2px solid $blue;
          font-size: 24px;
          transition: all .3s;

          &:hover {
            background: $blue;
            color: white;
          }
        }
      }
    }
  }
}

.button-wrapper {
  display: flex;
  flex-direction: 'row';

  button {
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
    font-family: 'quicksand';
    color: $blue;
    border-radius: 4px;
    height: 40px;
    background: transparent;
    border: 2px solid $blue;
    font-size: 22px;
    transition: all .3s;

    &:hover {
      background: $blue;
      color: white;
    }
  }
}

  .floatLeft {
    float: left;
  }

  .floatRight {
    float: right;
  }


/********ORIGINAL CSS - NOT USING**********/

/*.user-profile {
          height: 100%;
          flex: 10;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          .profile-input-wrapper {
            flex: 1;
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            max-height: 100px;

            i {
              margin-left: 5px;
              font-size: 12px
            }

            .title {
              flex: 1;
              display: block;
              width: 100%;
              margin-left: 20px;
              font-size: 12px;
              max-height: 20px;
              color: $blue;
            }

            .profile-input {
              cursor: text; 
              width: calc(100% - 20px);
              padding: 10px;
              flex: 1;
              max-height: 30px;
              border: 0px;
              border-bottom: 1px solid rgba(0,0,0,.1);
              outline: none;
              font-size: 18px;
              line-height: 30px;
              transition: all .3s;
              overflow: auto;

              &:hover {
                border-bottom: 1px solid $blue;
              }
            }

            .editing {
              cursor: text; 
              font-family: 'quicksand';
              padding: 10px;
              flex: 1;
              max-height: 30px;
              font-size: 18px;
              width: calc(100% - 20px);
              border: 0px;
              border-bottom: 1px solid $blue;
              outline: none;
              line-height: 30px;
            }
          }
        }*/

/*
.clock-suggestion-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .topics {
    flex: 1;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: black;

    ul {
      margin-top: -20px;
      flex: 3;
      width: 80%;
      text-align: center;
      padding: 0px;
      list-style: none;
      overflow: auto;

      li {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid rgba(0,0,0,.1);
        font-weight: light;
        font-size: 18px;
      }
    }

    h1 {
      flex: 1;
      font-size: 20px;
      color: $blue;
      height: 40px;
      padding: 10px;
    }
  }
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $blue;
  color: white;
  flex: 1;
  height: 100%;
  text-align: center;
  position: relative;

  i {
    position: absolute;
    left: 20px;
    top: 20px;
    margin-right: 10px;
    font-size: 40px;
  }

  h1 {
    margin-top: 10px;
    font-family: monospace;
    font-size: 80px;
    width: 100%;
  }

  h3 {
    font-weight: 700;
  }
}
*/








